{% extends "base.html" %}
      
{% block title %}Welcome{% endblock %}

{% block content %}
<div class="content" id="index">
    <div class="center">
        <h3>Welcome to the</h3>
        <h1>Physical NFT Experience.</h1>
        <form>
            <button type="button" class="bgbutton" id="namePage">Create Your Personal NFT</button>
        </form>
    </div>
</div>
<p>All infomation entered is not stored after the experience.</p>

<div class="content hidden" id="name">
    <div class="center">
    <h3>Let's Begin With</h3>
    <h2>Your Name.</h2>
    <form>
        <h4>First Name</h4>
        <input type="text" id="fName">
        <h4>Last Name</h4>
        <input type="text" id="lName">
        <br>
        <button type="button" class="smlbutton" id="extraPage">Next</button>
    </form>
    </div>
</div>

<div class="content hidden" id="extra">
    <div class="center">
    <h3>We Need Some More</h3>
    <h2>Personal Infomation.</h2>
    <form>
        <h4>Favorite Food</h4>
        <input type="text" id="info1">
        <h4>Name Of First Pet</h4>
        <input type="text" id="info2">
        <h4>Favorite Colour</h4>
        <input type="text" id="info3">
        <br>
        <button type="button" class="smlbutton" id="progressPage" onclick="setTimeout(move(), 5000)">Mint Your NFT</button>
    </form>
    </div>
</div>

<div class="content hidden" id="progress">
    <div class="center">
        <h2>Minting Your Personal NFT.</h2>
            <div id="progressBar">
                <div id="bar"></div>
            </div>
    </div>
</div>

<div class="content hidden" id="nft">
    <div class="center">
        <h3>Your Personal NFT.</h3>
        <img id="nftImage" src="{{ url_for('static', filename='/renders/nft2.png') }}">
        <form>
            <button type="button" class="smlbutton" id="finalPage">Claim Your NFT</button>
        </form>

    </div>
</div>

<div class="content hidden" id="final">
    <div class="center">
        <h3>Printing Your Reciept</h3>
        <h1>Thank You.</h1>
    </div>
</div>

<div class="content hidden" id="videoContainer">
    <video width="100%" height="100%" id="video">
        <source src="../static/video.mp4" type="video/mp4"> 
    </video>
</div>

<script>
var usingApp = false;

async function videoTest() {
    await sleep(5000);
    if (usingApp == false) {
    document.getElementById('index').style.display = 'none';
    document.getElementById('videoContainer').style.display = 'inline-block';
    var vid = document.getElementById("video");
    vid.autoplay = true;
    vid.load();
    console.log('Waiting 15 seconds')
    await sleep(15000);
    document.getElementById('videoContainer').style.display = 'none';
    document.getElementById('index').style.display = 'inline-block';
    console.log("Video has ended")
    await sleep(30000);
    }
    if (usingApp == false) {
        videoTest()
    }
}


if (usingApp == false) {
    if (usingApp == false) {
    videoTest();
    }
}


document.getElementById('namePage').addEventListener('click', () => {

    document.getElementById('name').style.display = 'inline-block';
    document.getElementById('index').style.display = 'none';
    usingApp = true;
})

document.getElementById('extraPage').addEventListener('click', () => {
    document.getElementById('extra').style.display = 'inline-block';
    document.getElementById('name').style.display = 'none';

})

document.getElementById('progressPage').addEventListener('click', () => {

    document.getElementById('progress').style.display = 'inline-block';
    document.getElementById('extra').style.display = 'none';
    var fName = document.getElementById('fName').value;
    var lName = document.getElementById('lName').value;
    var info1 = document.getElementById('info1').value;
    var info2 = document.getElementById('info2').value;
    var info3 = document.getElementById('info3').value;
    render(fName, lName, info1, info2, info3);
})

document.getElementById('finalPage').addEventListener('click', () => {
    document.getElementById('final').style.display = 'inline-block';
    document.getElementById('nft').style.display = 'none';
    var fName = document.getElementById('fName').value;
    var lName = document.getElementById('lName').value;
    print(fName, lName);

})



function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

function nameInput(fName, lName){
    $.post("/nameInput", {
        
    })
}

async function render(fName, lName, info1, info2, info3){    
    // Send data to flask backend
    $.post("/render", {
        fName: fName,
        lName: lName,
        info1: info1,
        info2: info2,
        info3: info3
    });

    await sleep(6000);
    $.get("/render", async function(imageName) {
        var imageName = $.parseJSON(imageName)
        console.log(imageName)
        document.getElementById('nftImage').src = "../static/renders/"+imageName
    }) 
}

function print(fName, lName) {
    $.post("/print", {
        fName: fName,
        lName: lName
    }
}

</script>

<script>
function sleep(ms) {
    return new Promise(resolve => setTimeout(resolve, ms));
}

move();
var i = 0;
function move() {
  if (i == 0) {
    i = 1;
    var elem = document.getElementById("bar");
    var width = 1;
    var id = setInterval(frame, 100);
    async function frame() {
      if (width >= 99) {
        clearInterval(id);
        i = 0;
        document.getElementById('nft').style.display = 'inline-block';
        document.getElementById('progress').style.display = 'none';
      } else {
            if (width == 12) {
                await sleep(1500);
                width++;
                elem.style.width = width + "%";
            } else if (width == 45) {
                width = width + 10;
            } else if (width == 84) {
                await sleep(1000);
                width++;
                elem.style.width = width + "%";
            } else {
                width++;
                elem.style.width = width + "%";
            }
      }
    }
  }
}
</script>


{% endblock %}